<% content_for :title do %>About<% end %>
<h1>TDT4242 Shop</h1>
<pThis eCommerce platform has been developed for the TDT4242 course at NTNU.</p>
<p>&nbsp;</p>

<h3>Setup</h3>
<p>To reset the database and create the default dataset, run <kbd>rake db:setup</kbd> on the console.</p>
<hr />

<h3>Default Login Data</h3>
<h4>Admin</h4>
<p>To log in as an admin, use the following credentials:</p>
<pre>administrator@tdt4242.shop<br />administrator</pre>
<p>&nbsp;</p>
<h4>Seller</h4>
<p>To log in as a seller, use the following credentials:</p>
<pre>seller@tdt4242.shop<br />seller</pre>
<p>&nbsp;</p>
<h4>Customer</h4>
<p>To log in as an customer, use the following credentials:</p>
<pre>customer@tdt4242.shop<br />customer</pre>
