<h1>Create a New Deal</h1>

<p>Note:
<ul>
  <li>You can only create one deal of each type for every product.</li>
  <li>All deals for a product will be combined. This means that a customer can profit from both percentage-based and volume-based deals at the same time.</li>
</ul></p>

<%= render 'form' %>