// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.panel-with-tabs {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
}

.product-img {
  width: 100%;
}

.product-panel-heading {
  padding: 0;
}

.caption {
  height: 130px;
  overflow: hidden;
}

.caption h4 {
  white-space: nowrap;
}