<h1 class="header-with-button">Edit <%= @product.name %></h1>
<%= link_to 'Show Product', @product, class: 'btn btn-default pull-right header-button' %>
<%= link_to 'Back to List', manage_products_path, class: 'btn btn-default pull-right header-button' %>

<%= render 'form' %>