<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#add-new-product" aria-controls="add-new-product" role="tab" data-toggle="tab">Add new product</a></li>
    <li role="presentation"><a href="#manage-stock-levels" aria-controls="manage-stock-levels" role="tab" data-toggle="tab">Manage stock levels</a></li>
    <li role="presentation"><a href="#manage-deals" aria-controls="manage-deals" role="tab" data-toggle="tab">Manage deals</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="add-new-product">
      <%= render 'form' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="manage-stock-levels">
      TODO
    </div>
    <div role="tabpanel" class="tab-pane" id="manage-deals">
      TODO
    </div>
  </div>

</div>